.Connect {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgoldenrod;
}

.LogIn button {
  background-color: slategray;
  color: #000;
  margin-right: 40px;
  margin-left: 40px;
  width: 70%;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;;

}
.champ_motPasse{
  padding: 10px;
  margin-left: 6px;
  margin-bottom: 10px;

}
.champ_ID
{
  padding: 10px;
  margin-left: 2px;
  margin-bottom: 10px;
}