.input {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
 

}
.text{
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 10px;;
  border: white solid 1px;
}
.button{
  font-size: 16px;
  color: black;
  background-color: darkcyan;
  padding: 10px;;
  border: white solid 1px;

}